<% content_for :head do %>
    <title>Hurlers vs Monsters: Login</title>
    <%= stylesheet_link_tag "sessions", :media => "all" %>
<% end %>
<% content_for :article do %>
<article id="upper_stage">
  <div id="upper_col1" class="login">
    <h2><span class="head2">Log in</span></h2>
    <br>
<%= form_tag sessions_path do %>
    <br>
    <p>
      <%= label_tag :email %>:<br><br>
      <%= text_field_tag :email, params[:email] %>
    </p>
    <br>
    <p>
      <%= label_tag :password %>:<br><br>
      <%= password_field_tag :password %>
    </p>
    <br>
    <p><%= submit_tag 'Login', class: 'button' %></p>
  </div>
        <div id="upper_col2">
          <h4>--Placeholder Image Below--</h4>
          <%= image_tag("3rd party signin.jpg") %>
        </div>
</article>
<% end %>
<% end %>