<% content_for :head do %>
    <title>Hurlers vs Monsters: Login</title>
    <%= stylesheet_link_tag "sessions", :media => "all" %>
<% end %>
<% content_for :article do %>
<article id="upper_stage">
  <div id="upper_col1" class="login">
    <h2><span class="head2">Log in</span></h2>
    <br>
<%= form_tag sessions_path do %>
    <br>
    <p>
      <%= label_tag :email %>:<br><br>
      <%= text_field_tag :email, params[:email] %>
    </p>
    <br>
    <p>
      <%= label_tag :password %>:<br><br>
      <%= password_field_tag :password %>
    </p>
    <br>
    <p><%= submit_tag 'Login', class: 'button' %></p>
  </div>
        <div id="upper_col2">
          <div id="twitfeed">
            <h3>Latest HTML5 Game News</h3>
            <br>
            <ol id="twitter_update_list">
              <li class="tweet"></li>
            </ol>
            <!-- below code taken from Twitter developer help have used my own twitter account to test the code and layout as the gallery haven't yet set up their twitter-->
            <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
            <script type="text/javascript" src="http://api.twitter.com/1/statuses/user_timeline/HTML5GamesCom.json?callback=twitterCallback2&amp;count=9"></script>
          </div>
        </div>
</article>
<% end %>
<% end %>