<%= form_for([@post, @post.replies.build]) do |f| %>
    <div class="post_text">
    <p>by: <%= current_user.username %></p>
    </div>
    <br>
    <div class="response">
      <%= f.label :response %><br>
      <br>
      <%= f.text_area :response %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Reply", class: 'button' %>
    </div>
<% end %>