<% content_for :head do %>
    <title>Hurlers vs Monsters: Game</title>
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "game", :media => "all" %>
<% end %>
<% content_for :article do %>
    <audio id="gamemusic" class="gamesound">

      <source src="<%= asset_path('Crowd.mp3') %>" type="audio/mpeg" loop>
      <source src= "<%= asset_path('Crowd.wav') %>" type="audio/wav">
    </audio>
    <audio id="gamemusic1" class="gamesound">
      <source src="<%= asset_path('UFO.mp3') %>" type="audio/mpeg" loop>
      <source src= "<%= asset_path('UFO.wav') %>" type="audio/wav">
    </audio>
    <audio id="gamemusic2" class="gamesound">
      <source src="<%= asset_path('Ambulance.mp3') %>" type="audio/mpeg" loop>
      <source src= "<%= asset_path('Ambulance.wav') %>" type="audio/wav">
    </audio>
    <audio id="boom">
      <source src="<%= asset_path('Boom.mp3') %>" type="audio/mpeg">
      <source src= "<%= asset_path('Boom.wav') %>" type="audio/wav">
    </audio>
    <audio id="slap">
      <source src="<%= asset_path('slimehit.mp3') %>" type="audio/mpeg" loop>
      <source src= "<%= asset_path('slimehit.wav') %>" type="audio/wav">
    </audio>
    <audio id="gamelost">
      <source src="<%= asset_path('No mercy.mp3') %>" type="audio/mpeg">
      <source src= "<%= asset_path('No mercy.wav') %>" type="audio/wav">
    </audio>
    <article id="upper_stage" onload="init();">
      <section id="levels">
        <h2><span class="head2">Game Info</span></h2>
        <br>
        <div class="currentLevel">
          <p><%= link_to "Level 1: Slimeball", :controller => "game", :action => "slimeball" %></p>
          <p><%= link_to "Level 2: Farm Panic", :controller => "game", :action => "farmpanic" %></p>
          <p><%= link_to "Level 3: Invasion", :controller => "game", :action => "invasion" %></p>
          <p><%= link_to "Level 4: Greenbugs at Croker", :controller => "game", :action => "greenbug" %></p>
          <p><%= link_to "Level 5: Final Battle", :controller => "game", :action => "finale" %></p>
        </div>


        <div id="nextLevel">
          <p>Game Completed write a review <%= link_to "here", :controller => "posts", :action => "new" %></p>
        </div>
        <p><%= link_to 'Restart', :controller => "game", :action => "finale", class: 'button' %></p>
      </section>

    </article>
<% end %>
<%= content_for :script do %>
    <%= javascript_include_tag "Sprite3D" %>
    <%= javascript_include_tag "level5.js.erb" %>
<% end %>



