<% content_for :head do %>
    <title>Hurlers vs Monsters: Gaming Forum</title>
    <%= stylesheet_link_tag "forum", :media => "all" %>
    <%= javascript_include_tag "home" %>
<% end %>
<% content_for :article do %>
    <article id="upper_stage">
      <ul id="forumtabs">
        <li class="forumtab"><%= link_to "Tech", :controller => "forum", :action => "tech" %></li>
        <li class="forumtab" id="selected"><%= link_to "Gaming", :controller => "forum", :action => "gaming" %></li>
        <li class="forumtab"><%= link_to "Sport n' Tech", :controller => "forum", :action => "sports" %></li>
      </ul>
      <article id="forumcontent">
        <div id="forumcontent_upper">
        <section id="image_slider">
          <div id="loadbanner1">
            <div id="loadbanner2">
              <div id="loadbanner3">
                <div id="holdall">
                  <div class="panel" id="panel1">
                    <article class="toppost">
                      <h2>Next gen...</h2>
                      <br>
                      <p>Are you excited by the PS4 and new Xbox or are you sad to see the likely end of discs and trade-ins?</p>
                    </article>
                  </div>
                  <div class="panel" id="panel2">
                    <article class="toppost">
                      <h2>HTML5 Games</h2>
                      <br>
                      <p>What are you favourite HTML5 games? How do you see the market developing.</p>
                      <br>
                      <p>Developer? Whats you favourite game development tool</p>
                    </article>
                  </div>
                  <div class="panel" id="panel3">
                    <article class="toppost">
                      <h2>Retro</h2>
                      <br>
                      <p>Frogger, Paperboy or do you prefer nouveau retro games from the early Playstation/Xbox days.</p>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div id="nav">
          <ul>
            <li><a href="#loadbanner1">1</a></li>
            <li><a href="#loadbanner2">1</a></li>
            <li><a href="#loadbanner3">1</a></li>
          </ul>
        </div>
        </div>
        <div id="forumcontent_lower">
          <div id="forumcontent_left">
          <div id="twitfeed">
            <h3>Game News</h3>
            <br>
            <ol id="twitter_update_list">
              <li class="tweet"></li>
            </ol>
            <!-- below code taken from Twitter developer help have used my own twitter account to test the code and layout as the gallery haven't yet set up their twitter-->
            <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
            <script type="text/javascript" src="http://api.twitter.com/1/statuses/user_timeline/IGN.json?callback=twitterCallback2&amp;count=6"></script>
          </div>
        </div>
          <div id="forumcontent_right">
            <h3 class="head3">Most popular posts in last few days</h3>
            <% @posts.each do |post| %>
                <article class="<%= cycle('post_odd', 'post_even') %>">
                  <h4><%= link_to post.title, post %></h4>
                  <p><span class="forum_detail"><%= post.created_at.to_s(:short) %>  Views: <%= post.view %></span></p>
                  <p><span class="forum_detail">by <%= post.user.username %></span></p>
                  <p><%= image_tag(post.image_url, class: "post_img_url") %></p>
                  <p><%= truncate(strip_tags(post.content), length: 200) %></p>
                  <h6>Tags:</h6>
                  <p><span class="tags"><%= join_tags(post) %></span></p>
                </article>
            <% end %>
          </div>
        </div>
      </article>
    </article>
<% end %>