<% content_for :head do %>
    <title>Hurlers vs Monsters: Forum</title>
    <%= stylesheet_link_tag "forum", :media => "all" %>
    <%= javascript_include_tag "home" %>
<% end %>
<% content_for :article do %>
    <article id="upper_stage">
      <section id="image_slider">
        <div id="loadbanner1">
          <div id="loadbanner2">
            <div id="loadbanner3">
              <div id="holdall">
                <div class="panel" id="panel1">
                  <article class="toppost">
                    <h2>Tech Forum</h2>
                    <br>
                    <p>Keep up to-date with our tech forum</p>
                  </article>
                </div>
                <div class="panel" id="panel2">
                  <article class="toppost">
                    <h2>Sport Forum</h2>
                    <br>
                    <p>Read, reply and start threads in our Sports forum.</p>
                    <br>
                    <p>Don't worry we don't ust cover GAA</p>
                  </article>
                  <div class="slidefromright">
                    <article class="toppost">
                      <h2>Test</h2>
                      <br>
                      <p>Though pandas love to sleep and relax unlike most bears they do not hibernate.</p>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div id="nav">
        <ul>
          <li><a href="#loadbanner1">1</a></li>
          <li><a href="#loadbanner2">1</a></li>
        </ul>
      </div>
    </article>
<% end %>
<% content_for :section do %>
<section>
<header><h2>Forum</h2></header>
<% @posts.each do |post| %>
    <article class="<%= cycle('post_odd', 'post_even') %>">
      <h4><%= link_to post.title, post %></h4>
      <p><span class="forum_detail"><%= post.created_at.to_s(:short) %></span></p>
      <p><span class="forum_detail">by <%= post.user.username %></span></p>
      <p><%= image_tag(post.image_url, class: "post_img_url") %></p>
      <p><%= truncate(strip_tags(post.content), length: 200) %></p>
      <h6>Tags:</h6>
      <p><span class="tags"><%= join_tags(post) %></span></p>
    </article>
<% end %>
</section>
<% end %>
