<% content_for :head do %>
    <title>Hurlers vs Monsters: Sports Forum</title>
    <%= stylesheet_link_tag "forum", :media => "all" %>
    <%= javascript_include_tag "home" %>
<% end %>
<% content_for :article do %>
      <article id="upper_stage">
        <ul id="forumtabs">
          <li class="forumtab"><%= link_to "Tech", :controller => "forum", :action => "tech" %></li>
          <li class="forumtab"><%= link_to "Gaming", :controller => "forum", :action => "gaming" %></li>
          <li class="forumtab" id="selected"><%= link_to "Sport n' Tech", :controller => "forum", :action => "sports" %></li>
        </ul>
        <article id="forumcontent">
          <section id="image_slider">
            <div id="loadbanner1">
              <div id="loadbanner2">
                <div id="loadbanner3">
                  <div id="holdall">
                    <div class="panel" id="sportpanel1">
                      <article class="toppost">
                        <h2>Hawkeye is coming...</h2>
                        <br>
                        <p>With Samsung releasing the 'Mega' at 6.3 inches are phones just getting too bit? Let us know your thoughts</p>
                      </article>
                    </div>
                    <div class="panel" id="sportpanel2">
                      <article class="toppost">
                        <h2>Tyresome</h2>
                        <br>
                        <p>Are seemingly fickle tyres ruining this years Formula One or does it add a much needed randomness ?</p>
                        <br>
                        <p>Let us know.</p>
                      </article>
                    </div>
                    <div class="panel" id="sportpanel3">
                      <article class="toppost">
                        <h2>Tweeting Lions</h2>
                        <br>
                        <p>Will you be following this years Lions tour via social media. If so who will you follow and how?</p>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div id="nav">
            <ul>
              <li><a href="#loadbanner1">1</a></li>
              <li><a href="#loadbanner2">1</a></li>
              <li><a href="#loadbanner3">1</a></li>
            </ul>
          </div>
          <header><h2>Sports n' Tech Forum</h2></header>
          <% @posts.each do |post| %>
              <article class="<%= cycle('post_odd', 'post_even') %>">
                <h4><%= link_to post.title, post %></h4>
                <p><span class="forum_detail"><%= post.created_at.to_s(:short) %></span></p>
                <p><span class="forum_detail">by <%= post.user.username %></span></p>
                <p><%= image_tag(post.image_url, class: "post_img_url") %></p>
                <p><%= truncate(strip_tags(post.content), length: 200) %></p>
                <h6>Tags:</h6>
                <p><span class="tags"><%= join_tags(post) %></span></p>
              </article>
          <% end %>
        </article>
      </article>
<% end %>