<% content_for :head do %>
    <title>Hurlers vs Monsters: Your Account</title>
    <%= stylesheet_link_tag "users", :media => "all" %>
<% end %>
<% content_for :article do %>
    <article id="upper_stage">
      <div id="upper_col1" class="post">
        <h2><span class="head2">Update Your Details</span></h2>
        <br>
        <p>Name: <%= @user.fname %> <%= @user.sname %></p>
        <br>
        <p>Username: <%= @user.username %></p>
        <br>
        <p>Email: <%= @user.email %></p>
        <br>
        <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
                <div class="error_messages">
                  <h2>Form is invalid</h2>
                  <ul>
                    <% for message in @user.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <%= f.hidden_field :key %>
              <p>Pic: <%= @user.image_name %></p>
            <p>Bio:</p>
            <p><span id="textarea"><%= f.text_area :bio, cols: 50, rows: 7 %></span></p>
            <br>
            <% if current_user and current_user.admin %>
            <p><%= f.label :suspended %></p>
            <p><%= f.select :suspended, User::SUSPENDED_TYPES, :selected => "No" %></p>
            <% end %>
            <br>
            <p><%= f.submit "Update User", class: 'button' %></p>
            <% end %>
      </div>
      <div id="upper_col2">
        <article id="sitepromo">
          <h2><span class="head2">Tell me more...</span></h2>
          <br>
          <p>Customise your profile and let other users know who you are and what you care about.</p>
          <p>This will help add context to your posts and replies, below are some guidelines</p>
          <ol>
            <li>Avoid using inappropriate and offensive language</li>
            <li>Please do not upload any inappropriate images</li>
            <li>By all means use humour but also try and be informative, if you are a sports scientist for example your
            opinion on the Sport and Tech forum will carry more weight</li>
          </ol>
          <br>
          <p>Please apply these simple rules to all your interactions on the site.</p>
        </article>
      </div>
    </article>
<% end %>