<% content_for :head do %>
    <title>Hurlers vs Monsters: Your Account</title>
    <%= stylesheet_link_tag "users", :media => "all" %>
<% end %>
<% content_for :article do %>
    <article id="upper_stage">
      <div id="upper_col1" class="post">
        <h2><span class="head2">Update Your Details</span></h2>
        <br>
        <p>Name: <%= @user.fname %> <%= @user.sname %></p>
        <br>
        <p>Username: <%= @user.username %></p>
        <br>
        <p>Email: <%= @user.email %></p>
        <br>
        <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
                <div class="error_messages">
                  <h2>Form is invalid</h2>
                  <ul>
                    <% for message in @user.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
              <p>Add <%= f.label :image %></p>
              <%= f.file_field :image %>
            <p>Bio:</p>
            <p><span id="textarea"><%= f.text_area :bio, cols: 50, rows: 7 %></span></p>
            <br>
            <p><%= f.submit "Update User", class: 'button' %></p>
            <% end %>
      </div>
      <div id="upper_col2">
        <p>List posts/comments/tweets</p>
        <% @user.posts %>
      </div>
    </article>
<% end %>