<% content_for :head do %>
    <title>Hurlers vs Monsters: Registration</title>
    <%= stylesheet_link_tag "sessions", :media => "all" %>
<% end %>
<% content_for :article do %>
<article id="upper_stage">
  <div id="upper_col1">
    <header><h2>Sign Up</h2></header>
    <br>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      First name: <%= f.text_field :fname %>
    </p>
        <br>
    <p>
      Surname: <%= f.text_field :sname %>
    </p>
        <br>
    <p>
      <%= f.label :username %>: <%= f.text_field :username %>
    </p>
        <br>
    <p>
      <%= f.label :email %>: <%= f.text_field :email %>
    </p>
        <br>
    <p>
      <%= f.label :password %>: <%= f.password_field :password %>
    </p>
        <br>
    <p>
      <%= f.label :password_confirmation %>: <%= f.password_field :password_confirmation %>
    </p>
        <br>
        <br>
    <p class="button"><%= f.submit %></p>
      </div>
      <div id="upper_col2">
        <h4>--Placeholder Image Below--</h4>
        <%= image_tag("3rd party signin.jpg") %>
      </div>
</article>
<% end %>
  <% content_for :section do %>
        <section>
          <header><h2>Join in</h2></header>
          <div id="content">
            <figure id="content_left" class="lower_box">
              <figcaption class="content_box">
                <h4 class="homeh4"><%=link_to(image_tag("hurler.png", alt: "Try the game", id: "hurler"), game_path, title: "Game") %>
                </h4>
                <div class="blog_desc">
                  <h3>My HTML5 game</h3>
                  <br>
                  <p>Interested in HTML5 games or just bored? Try Hurlers vs Monsters now!</p>
                </div>

              </figcaption>
            </figure>
            <figure id="content_left_centre" class="lower_box">
              <figcaption class="content_box">
                <h4 class="homeh4"><%=link_to(image_tag("Soccer-Ball-icon.png", alt: "Sports Tech", id: "Sportech"), :controller => "forum", :action => "sports", title: "Sports") %>
                </h4>
                <div class="blog_desc">
                  <h3>Tech n' Sport</h3>
                  <br>
                  <p>Love tech? Love sport?</p>
                  <p>Of course you do! Jump on to our Tech n' Sport forum now.</p>
                </div>
              </figcaption>
            </figure>
            <figure id="content_right_centre" class="lower_box">
              <figcaption class="content_box">
                <h4 class="homeh4"><%= link_to(image_tag("gaming.png", alt: "Gaming", id: "Gaming"), :controller => "forum", :action => "gaming", title: "Games") %>
                </h4>
                <div class="blog_desc">
                  <h3>Games</h3>
                  <br>
                  <p>Whether you love playing or designing games we want to hear from you.</p>
                </div>
              </figcaption>
            </figure>
            <figure id="content_right" class="lower_box">
              <figcaption class="content_box">
                <h4 class="homeh4"><%= link_to(image_tag("tech.png", alt: "Tech", id: "tech"), :controller => "forum", :action => "tech", title: "tech") %>
                </h4>
                <div class="blog_desc">
                  <h3>Tech</h3>
                  <br>
                  <p>Have something to say on the world of tech?</p>
                  <p>Start a debate or join in the conversation.</p>
                </div>
              </figcaption>
            </figure>
          </div>
        </section>
      <% end %>
<% end %>


