<% content_for :head do %>
    <title>Hurlers vs Monsters: Registration</title>
    <%= stylesheet_link_tag "sessions", :media => "all" %>
<% end %>
<% content_for :article do %>
<article id="upper_stage">
  <div id="upper_col1">
    <header><h2>Sign Up</h2></header>
    <br>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      First name: <%= f.text_field :fname %>
    </p>
        <br>
    <p>
      Surname: <%= f.text_field :sname %>
    </p>
        <br>
    <p>
      <%= f.label :username %>: <%= f.text_field :username %>
    </p>
        <br>
    <p>
      <%= f.label :email %>: <%= f.text_field :email %>
    </p>
        <br>
    <p>
      <%= f.label :password %>: <%= f.password_field :password %>
    </p>
        <br>
    <p>
      <%= f.label :password_confirmation %>: <%= f.password_field :password_confirmation %>
    </p>
        <br>
        <br>
    <p class="button"><%= f.submit %></p>
      </div>
      <div id="upper_col2">
        <h4>--Placeholder Image Below--</h4>
        <%= image_tag("3rd party signin.jpg") %>
      </div>
</article>
<% end %>
<% end %>