<% content_for :head do %>
    <title>Hurlers vs Monsters: Registration</title>
    <%= stylesheet_link_tag "sessions", :media => "all" %>
<% end %>
<% content_for :article do %>
<article id="upper_stage">
  <div id="upper_col1">
    <article class="userscroll">
    <h2><span class="head2">Sign up</span></h2>
    <br>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table>
      <tr>
      <th></th>
      <th></th>
      </tr>
    <tr>
      <td>First name:</td>
      <td><%= f.text_field :fname %></td>
    </tr>
    <tr>
      <td>Surname:</td>
      <td><%= f.text_field :sname %></td>
    </tr>
    <tr>
      <td><%= f.label :username %>:</td>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td><%= f.label :email %>:</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :password %>:</td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation %>:</td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    </table>
        <br>
        <br>
    <p><%= f.submit "Create Account", class: 'button' %></p>
          </article>
      </div>
      <div id="upper_col2">
        <article id="sitepromo">
          <h2><span class="head2">Why join!</span></h2>
          <br>
          <p>Below are just some of the reasons why you would want to join:</p>
          <ol>
            <li>Try my own HTML5 game and watch it develop over months</li>
            <li>View articles I post about the game progress</li>
            <li>Get guidance on developing your own game from myself and others</li>
            <li>Discuss news and reviews in the world of tech.</li>
            <li>Wannabe journo? My goal is for posts to be of a high standard, hone your skills here. </li>
            <li>Love sport and tech, well we have the forum for you.</li>
            <li>I.T. professional or developer? Then share the wealth...of knowledge.</li>
          </ol>
          <br>
          <p>Put simply share, learn, develop and have a blast!</p>
        </article>
      </div>
</article>
<% end %>
<% end %>