<% content_for :head do %>
    <title>Hurlers vs Monsters: Your Account</title>
    <%= stylesheet_link_tag "users", :media => "all" %>
<% end %>
<% content_for :article do %>
    <article id="upper_stage">
      <div id="upper_col1">
        <header><h2>Your Details</h2></header>
        <br>
            <p>Name: <%= @user.fname %> <%= @user.sname %></p>
            <p><%= image_tag(@user.image_url, class: "user_img_url") %></p>
        <br>
            <p>Username: <%= @user.username %></p>
        <br>
            <p>Email: <%= @user.email %></p>
        <br>
        <p>Bio: <%= @user.bio %></p>
        <br>
        <%= button_to "edit", editmyaccount_path %>
        </div>
      <div id="upper_col2">
      <p>List posts/comments/tweets</p>
        <% @user.posts.length %>
      </div>
    </article>
<% end %>