<% content_for :head do %>
    <title>Hurlers vs Monsters: Your Account</title>
    <%= stylesheet_link_tag "users", :media => "all" %>
<% end %>
<% content_for :article do %>
    <article id="upper_stage">
      <div id="upper_col1" class="post">
        <div class="userscroll">
        <h2><span class="head2">Your Details</span></h2>
        <br>
            <p>Name: <%= @user.fname %> <%= @user.sname %></p>
            <p><%= image_tag(@user.image_url, class: "user_img_url") %></p>
        <br>
            <p>Username: <%= @user.username %></p>
        <br>
            <p>Email: <%= @user.email %></p>
        <br>
        <p>Bio: <%= @user.bio %></p>
        <br>
          <% if current_user and current_user.admin %>
        <p>Suspended: <%= @user.suspended %></p>
          <% end %>
        <%= button_to "edit", editmyaccount_path, class: 'button'  %>
          </div>
        </div>
      <div id="upper_col2" class="post">
        <div class="userscroll">
        <%= render "users/myposts" %>
        </div>
      </div>
    </article>
<% end %>