<!DOCTYPE HTML>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav><%= link_to "Home", root_path %>|<%= link_to "Our Forum", posts_path %></nav>
<section id="pagetitle"></section>
<header><h1>Welcome to Hurlers vs Monsters</h1></header>
<article>
  <p>At last the game you have all been waiting for!!!!</p>
</article>
<footer><p>Placeholder text remove this before publishing</p></footer>
</body>
</html>