<% content_for :head do %>
    <title>Hurlers vs Monsters: Farm Panic Game</title>
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "games", :media => "all" %>
<% end %>
<% content_for :article do %>
    <audio id="gamemusic">
      <source src="<%= asset_path('Nature Ambiance.mp3') %>" type="audio/mpeg" loop>
      <source src= "<%= asset_path('Nature Ambiance.wav') %>" type="audio/wav">
    </audio>
    <audio id="gamemusic1">
      <source src="<%= asset_path('tractor.mp3') %>" type="audio/mpeg" loop>
      <source src= "<%= asset_path('tractor.wav') %>" type="audio/wav">
    </audio>
    <audio id="slap">
      <source src="<%= asset_path('slimehit.mp3') %>" type="audio/mpeg" loop>
      <source src= "<%= asset_path('slimehit.wav') %>" type="audio/wav">
    </audio>
    <audio id="gamelost">
      <source src="<%= asset_path('No mercy.mp3') %>" type="audio/mpeg" loop>
      <source src= "<%= asset_path('No mercy.wav') %>" type="audio/wav">
    </audio>
    <article id="upper_stage" onload="init();">
      <section id="levels">
        <article id="postscroll">
        <h2><span class="head2">Game Info</span></h2>
        <br>
        <div class="currentLevel">
          <p><%= link_to "Level 1: Slimeball", :controller => "games", :action => "slimeball" %></p>
          <p><span id="output_level">Farm Panic</span></p>
        </div>


        <div id="nextLevel">
          <p><%= link_to "Level 3: Invasion", :controller => "games", :action => "invasion" %></p>
        </div>
        <p><%= link_to 'Restart', :controller => "games", :action => "farmpanic", class: 'button' %></p>
          <%= render 'form' %>
          <br>
          <h2><span class="head2">Leaders</span></h2>
          <br>
          <table>
            <tr>
              <th>Gamer</th>
              <th>Score</th>
              <th>Level</th>
            </tr>

            <% @games.each do |games| %>
                <tr>
                  <td><%= games.user.username %></td>
                  <td><%= games.score %></td>
                  <td><%= games.level %></td>
                </tr>
                <tr>
                  <!-- <td>_</td>
                  <td>_</td>
                  <td>_</td>
                  <td>_</td>
                  <td>_</td>
                  <td>_</td>-->
                </tr>
            <% end %>
          </table>

        </article>
      </section>

    </article>
<% end %>
<%= content_for :script do %>
    <%= javascript_include_tag "Sprite3D" %>
    <%= javascript_include_tag "level2.js.erb" %>
<% end %>



