<!DOCTYPE HTML>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav><%= link_to "Home", root_path %>|<%= link_to "Our Forum", posts_path %></nav>
<section id="pagetitle"></section>
<header><h1>Hurlers vs Monsters Forum</h1></header>
<section>
  <table>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Name</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= post.image_url %></td>
          <td><%= post.name %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </table>

  <br />
</section>

<%= link_to 'New Post', new_post_path %>
<footer><p>Placeholder text remove this before publishing</p></footer>
</body>
</html>

