<% content_for :head do %>
    <title xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Hurlers vs Monsters: View Posts</title>
    <%= stylesheet_link_tag "posts", :media => "all" %>
<% end %>
<% content_for :article do %>
<article id="upper_stage">
    <div id="upper_col1">
      <div id="postscroll">
    <h2><span class="post_header">
    <%= @post.title %>
    </span></h2>
      <figcaption><p><span class="post_date"><%= @post.created_at.to_s(:short) %></span><span class="post_text">
    # tags:
        <%= join_tags(@post) %>
    </span></p></figcaption>
      <br>
      <p>
        <%= image_tag(@post.image_url, class: "post_img_url") %>
      </p>
    <p><span class="post_text">
    <%= @post.content %>
    </span></p>
      <div id="posted_by">

        <p>
        <span class="post_text">posted by:
          <%= @post.user.username %>
      </span>
          <%= image_tag(@post.user.image, class: "user_img_url") %></p>
        <br>
      <p>
        <span class="post_text">
          <%= @post.user.bio %>
      </span></p>
      </div>
    <br>
    <br>
    <br>
    <br>
    <h2><span class="post_header">Replies</span></h2>
    <br>
    <%= render @post.replies %>
      </div>
    </div>
    <div id="upper_col2">
    <% if logged_in? %>
    <span class="post_header"><h2>Add a comment:</h2></span>
    <br>
    <%= render "replies/form" %>
    <% else %>
    <p><span class="post_text"> Want to join in? Click <%= link_to 'here',login_path %> to login</span></p>
    <p><span class="post_text">Haven't an account? <%= link_to 'Sign-up', signup_path %></span></p>
    <% end %>
    </div>
    </article>
<% end %>
<br>
<% content_for :section do %>
    <section>
      <header><h2>Join in</h2></header>
      <div id="content">
        <figure id="content_left" class="lower_box">
          <figcaption class="content_box">
            <h4 class="homeh4"><%=link_to(image_tag("hurler.png", alt: "Try the game", id: "hurler"), game_path, title: "Game") %>
            </h4>
            <div class="blog_desc">
              <h3>My HTML5 game</h3>
              <br>
              <p>Interested in HTML5 games or just bored? Try Hurlers vs Monsters now!</p>
            </div>

          </figcaption>
        </figure>
        <figure id="content_left_centre" class="lower_box">
          <figcaption class="content_box">
            <h4 class="homeh4"><%=link_to(image_tag("Soccer-Ball-icon.png", alt: "Sports Tech", id: "Sportech"), :controller => "forum", :action => "sports", title: "Sports") %>
            </h4>
            <div class="blog_desc">
              <h3>Tech n' Sport</h3>
              <br>
              <p>Love tech? Love sport?</p>
              <p>Of course you do! Jump on to our Tech n' Sport forum now.</p>
            </div>
          </figcaption>
        </figure>
        <figure id="content_right_centre" class="lower_box">
          <figcaption class="content_box">
            <h4 class="homeh4"><%= link_to(image_tag("gaming.png", alt: "Gaming", id: "Gaming"), :controller => "forum", :action => "gaming", title: "Games") %>
            </h4>
            <div class="blog_desc">
              <h3>Games</h3>
              <br>
              <p>Whether you love playing or designing games we want to hear from you.</p>
            </div>
          </figcaption>
        </figure>
        <figure id="content_right" class="lower_box">
          <figcaption class="content_box">
            <h4 class="homeh4"><%= link_to(image_tag("tech.png", alt: "Tech", id: "tech"), :controller => "forum", :action => "tech", title: "tech") %>
            </h4>
            <div class="blog_desc">
              <h3>Tech</h3>
              <br>
              <p>Have something to say on the world of tech?</p>
              <p>Start a debate or join in the conversation.</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </section>
<% end %>