<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Name:</b>
  <%= @post.user.email %>
</p>

<p>
  <b>Image url:</b>
  <%= @post.image_url %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>

<h2>Replies</h2>

<%= render @post.replies %>

<% if logged_in? %>
<h2>Add a comment:</h2>
<%= render "replies/form" %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<% else %>
    <p>Want to join in? Click <%= link_to 'here',login_path %> to login</p>
    <p>Haven't an account? <%= link_to 'Sign-up', signup_path %></p>
<% end %>
<br>
<br>

