<% content_for :head do %>
    <title xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Hurlers vs Monsters: View Posts</title>
    <%= stylesheet_link_tag "posts", :media => "all" %>
<% end %>
<% content_for :article do %>
<article id="upper_stage">
    <div id="upper_col1">
      <div id="postscroll">
    <%= render "postshow" %>
    <h2><span class="post_header">Replies</span></h2>
    <br>
    <%= render @post.replies %>
      </div>
    </div>
    <div id="upper_col2">
    <% if logged_in? %>
    <span class="head2"><h2>Add a comment:</h2></span>
    <br>
    <%= render "replies/form" %>
    <% else %>
    <p><span class="post_text"> Want to join in? Click <%= link_to 'here',login_path %> to login</span></p>
    <p><span class="post_text">Haven't an account? <%= link_to 'Sign-up', signup_path %></span></p>
    <% end %>
    </div>
    </article>
<% end %>