<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "home" %>
  <%= javascript_include_tag "jquery.nicescroll.min.js" %>
  <%= javascript_include_tag "upper_stage" %>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Racing+Sans+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
  </script>
</head>
<body>
<header id="pagetop">
  <nav id="logo">
    <h1><%= link_to(image_tag("logo.png", alt: "Hurlers vs. Monsters", id: "logo"), root_url, title: "Home")%></h1>
  </nav>
  <nav id="navbox" role="navigation">
    <ul>
      <% if current_user %>
          <li id="welcome">Welcome <%= link_to current_user.username, myaccount_path %></li>
      <% end %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Our Forums", :controller => "forum", :action => "index" %></li>
      <li><%=link_to "Start a thread", :controller => "posts", :action => "new" %></li>
      <% if current_user %>
          <li><%= link_to "Log out", logout_path %></li>
      <% else %>
          <li><%= link_to "Sign up", signup_url %> or <%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
<%= yield :article %>
<div id="mid_bar"></div>
<%= yield :section %>
<footer>Hurlers vs Monsters copyright 2013</footer>
<%= yield :script %>
</body>
</html>
