<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
  </script>
</head>
<body>
<nav>
  <header><h1>--Hurlers vs Monsters LOGO HERE--</h1></header>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Our Forum", :controller => "forum", :action => "index" %></li>
    <li><%=link_to "Create a Post", :controller => "posts", :action => "new" %></li>
    <% if current_user %>
        <li>Logged in as <%= current_user.email %></li>
        <li><%= link_to "Log out", logout_path %></li>
    <% else %>
        <li><%= link_to "Sign up", signup_url %> or <%= link_to "Log in", login_path %></li>
    <% end %>
  </ul>
</nav>
<%= yield :article %>
<p id="notice"><%= notice %></p>
<div id="mid_bar"></div>
<%= yield :section %>
<footer>Hurlers vs Monsters copyright 2013</footer>
<%= yield :script %>
</body>
</html>
