<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "home" %>
  <%= javascript_include_tag "jquery.nicescroll.min.js" %>
  <%= javascript_include_tag "upper_stage" %>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Racing+Sans+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
  </script>
</head>
<body>
<header id="pagetop">
  <nav id="logo">
    <h1><%= link_to(image_tag("logo.png", alt: "Hurlers vs. Monsters", id: "logo"), root_url, title: "Home")%></h1>
  </nav>
  <nav id="navbox" role="navigation">
    <ul>
      <% if notice %>
          <li><span id="notice"></span></li>
      <% end %>
      <% if current_user %>
          <li id="welcome">Welcome <%= link_to current_user.username, myaccount_path %></li>
      <% end %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Leaderboards", :controller => "games", :action => "index" %></li>
      <li><%= link_to "Our Forums", :controller => "forum", :action => "index" %></li>
      <li><%=link_to "Start a thread", :controller => "posts", :action => "new" %></li>
      <% if current_user %>
          <li><%= link_to "Log out", logout_path %></li>
      <% else %>
          <li><%= link_to "Sign up", signup_url %> or <%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>

<%= yield :article %>
<div id="mid_bar">
</div>
<section>
  <% if current_user and current_user.admin %>
  <header><h3>Site Management</h3></header>
  <div id="content_admin">
    <figure id="content_admin_left" class="lower_box">
      <figcaption class="content_box">
        <h4 class="homeh4"><%=link_to(image_tag("forum.png", alt: "Manage Posts", id: "forum"), posts_path) %>
        </h4>
        <div class="blog_desc">
          <h3>Post and Forum Mgmt</h3>
          <br>
          <p>Add posts, monitor activity. Delete inappropriate content</p>
        </div>

      </figcaption>
    </figure>
    <figure id="content_admin_left_centre" class="lower_box">
      <figcaption class="content_box">
        <h4 class="homeh4"><%=link_to(image_tag("users.png", alt: "Users", id: "Users"), :controller => "users", :action => "index") %>
        </h4>
        <div class="blog_desc">
          <h3>User Mgmt</h3>
          <br>
          <p>View user accounts, restrict access or delete if abuse is reported</p>
        </div>
      </figcaption>
    </figure>
    <figure id="content_admin_right_centre" class="lower_box">
      <figcaption class="content_box">
        <h4 class="homeh4"><%= link_to(image_tag("complaints.png", alt: "Complaints", id: "Complaints"), :controller => "complaints", :action => "index") %>
        </h4>
        <div class="blog_desc">
          <h3>Complaints</h3>
          <br>
          <p>List of reports and/or complaints of inappropriate content</p>
        </div>
      </figcaption>
    </figure>
    <figure id="content_admin_right" class="lower_box">
      <figcaption class="content_box">
        <h4 class="homeh4"><%= link_to(image_tag("rulebook.png", alt: "Rules", id: "rules"), :controller => "forum", :action => "rules", title: "rules") %>
        </h4>
        <div class="blog_desc">
          <h3>Policy Reference</h3>
          <br>
          <p>Guidelines to good practices, conduct and response to inappropriate activity.</p>
        </div>
      </figcaption>
    </figure>
  </div>
  <% end %>
  <header><h3>Join in</h3></header>
  <div id="content">
    <figure id="content_left" class="lower_box">
      <figcaption class="content_box">
        <h4 class="homeh4"><%=link_to(image_tag("hurler.png", alt: "Try the game", id: "hurler"), :controller => 'games', :action => 'info', title: "Game Info") %>
        </h4>
        <div class="blog_desc">
          <h3>My HTML5 game</h3>
          <br>
          <p>Interested in HTML5 games or just bored? Try Hurlers vs Monsters now!</p>
        </div>

      </figcaption>
    </figure>
    <figure id="content_left_centre" class="lower_box">
      <figcaption class="content_box">
        <h4 class="homeh4"><%=link_to(image_tag("Soccer-Ball-icon.png", alt: "Sports Tech", id: "Sportech"), :controller => "forum", :action => "sports", title: "Sports") %>
        </h4>
        <div class="blog_desc">
          <h3>Tech n' Sport</h3>
          <br>
          <p>Love tech? Love sport?</p>
          <p>Of course you do! Jump on to our Tech n' Sport forum now.</p>
        </div>
      </figcaption>
    </figure>
    <figure id="content_right_centre" class="lower_box">
      <figcaption class="content_box">
        <h4 class="homeh4"><%= link_to(image_tag("gaming.png", alt: "Gaming", id: "Gaming"), :controller => "forum", :action => "gaming", title: "Games") %>
        </h4>
        <div class="blog_desc">
          <h3>Games</h3>
          <br>
          <p>Whether you love playing or designing games we want to hear from you.</p>
        </div>
      </figcaption>
    </figure>
    <figure id="content_right" class="lower_box">
      <figcaption class="content_box">
        <h4 class="homeh4"><%= link_to(image_tag("tech.png", alt: "Tech", id: "tech"), :controller => "forum", :action => "tech", title: "tech") %>
        </h4>
        <div class="blog_desc">
          <h3>Tech</h3>
          <br>
          <p>Have something to say on the world of tech?</p>
          <p>Start a debate or join in the conversation.</p>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
<footer>Hurlers vs Monsters copyright 2013</footer>
<%= yield :script %>
</body>
</html>
